version: '3'

services:
  nginx:
    build:
      context: .
      dockerfile: requirements/nginx/Dockerfile
    container_name: nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    networks:
      - inception
    volumes:
      - ./requirements/nginx/conf/:/etc/nginx/http.d/
      - ./requirements/nginx/tools:/etc/nginx/ssl/
      - wp-volume:/var/www/
    restart: always

  mariadb:
    build:
      context: .
      dockerfile: requirements/mariadb/Dockerfile
      args:
        DB_NAME: ${DB_NAME}
        DB_USER: ${DB_USER}
        DB_PASS: ${DB_PASS}
        DB_ROOT: ${DB_ROOT}
    container_name: mariadb
    ports:
      - "3306:3306"
    networks:
      - inception
    restart: always

  wordpress:
    build:
      context: .
      dockerfile: requirements/wordpress/Dockerfile
      args:
        DB_NAME: ${DB_NAME}
        DB_USER: ${DB_USER}
        DB_PASS: ${DB_PASS}
      environment:
        - DOMAIN_NAME: ${DOMAIN_NAME}
        - WP_TITLE: ${WP_TITLE}
        - ADMIN_USER: ${ADMIN_USER}
        - ADMIN_PASSWORD: ${ADMIN_PASSWORD}
        - ADMIN_EMAIL: ${ADMIN_EMAIL}
        - WP_USER_LOGIN: ${WP_USER_LOGIN}
        - WP_USER_EMAIL: ${WP_USER_EMAIL}
    container_name: wordpress
    depends_on:
      - mariadb
    networks:
      - inception
    restart: always
    volumes:
      - wp-volume:/var/www/

volumes:
  wp-volume:
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/Inception/data/wordpress

  db-volume:
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/Inception/data/mariadb

networks:
    inception:
        driver: bridge
