version: '3.9'

services:
  nginx:
    build:
      context: .
      dockerfile: requirements/nginx/Dockerfile
    container_name: nginx
    depends_on:
      - wordpress
    ports:
      - "80:80"
      - "443:443"
    networks:
      - inception
    volumes:
      - ./requirements/nginx/conf/:/etc/nginx/http.d/
      - ./requirements/nginx/tools:/etc/nginx/ssl/
      - wp-volume:/var/www/
    restart: always
    # args:
    #   NGINX_WORDPRESS_CONTAINER_NAME: ${NGINX_WP_CONTAINER_NAME}
    #   WORDPRESS_PORT: ${NGINX_WP_PORT}
    #   DOMAIN_NAME: ${DOMAIN_NAME}

  mariadb:
    build:
      context: .
      dockerfile: requirements/mariadb/Dockerfile
      args:
        WORDPRESS_DB_NAME:  ${WP_DB_NAME}
        MARIADB_HOST:       ${MDB_HOST}
        MARIADB_PORT:       ${MDB_PORT}
        MARIADB_USER_NAME:  ${MDB_USER_USR}
        MARIADB_USER_PASS:  ${MDB_USER_PWD}
        MARIADB_ROOT_PASS:  ${MDB_ROOT_PWD}
    container_name: mariadb
    ports:
      - "3306:3306"
    networks:
      - inception
    restart: on-failure
    init: true

  wordpress:
    build:
      context: .
      dockerfile: requirements/wordpress/Dockerfile
      args:
        MYSQL_DATABASE: ${WP_DB_NAME}
        MYSQL_USER: ${MDB_USER_USR}
        MYSQL_PASSWORD: ${MDB_ROOT_PWD}
        MYSQL_DB_HOST: ${MDB_HOST}
        ADMIN_USER: ${WP_DB_USER_USR}
        ADMIN_PASSWORD: ${WP_DB_ROOT_PWD}
        ADMIN_EMAIL: ${WP_ROOT_EMAIL}
        WP_TITLE: ${WP_TITLE}
        DOMAIN_NAME: ${DOMAIN_NAME}
        WP_USER_LOGIN: ${WP_USER_LOG}
        WP_USER_EMAIL: ${WP_USER_EMAIL}
        WP_USER_PASS: ${MP_USER_PASS}
    container_name: wordpress
    depends_on:
      - mariadb
    networks:
      - inception
    ports:
      - ${NGINX_WP_PORT}
    restart: always
    volumes:
      - wp-volume:/var/www/

volumes:
  wp-volume:
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/Inception/data/wordpress

  db-volume:
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/Inception/data/mariadb

networks:
    inception:
        driver: bridge
