version: '3.5'

volumes:
  wp-volume:
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/Inception/data/wordpress

  db-volume:
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/Inception/data/mariadb

services:

  nginx:
    container_name: nginx
    build: requirements/nginx/
    depends_on:
      - wordpress
    ports:
      - "80:80"
      - "443:443"
    networks:
      - inception
    volumes:
      - /var/www/
    restart: always

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    env_file:
      - .env
    ports:
      - "3306:3306"
    networks:
      - inception
    restart: on-failure
    volumes:
      - /var/lib/mysql
    init: true

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    env_file:
      - .env
    depends_on:
      - mariadb
    networks:
      - inception
    ports:
      - ${NGINX_WP_PORT}
    restart: always
    volumes:
      - /var/www/

networks:
    inception:
        driver: bridge
